pydantic-settings
pydantic_geojson
pydantic_partial
python-dotenv
python-multipart
supabase
gotrue
prometheus-client
rasterio==1.4.2
rio-cogeo
fire
pillow>=10.0.0
paramiko
requests
docker>=6.1.0
tqdm
geopandas
utm
scikit-learn
matplotlib
safetensors
segmentation_models_pytorch
opencv-python
pytest
pytest-cov
pytest-asyncio
debugpy
xarray>=2023.1.0
zarr>=2.13.0
numpy>=1.24.0
transformers
